* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: #ff0000;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .logo-container {
    display: flex;
    align-items: center;

    .logo {
      width: 100px;
      height: auto;
      margin-right: 10px;
    }

    h1 {
      font-family: 'Montserrat', 'Arial', sans-serif; 
      font-size: 28px;
      font-weight: bold;
      text-align: center; 
      color: #fff;
    }
  }

  .navigation {
    ul {
      list-style: none;
      display: flex;

      li {
        margin: 0 15px;
        font-family: 'Montserrat', 'Arial', sans-serif;
        font-size: 20px;
        font-weight: bold;


        a {
          color: #fff;
          text-decoration: none;
          font-size: 18px;

          &:hover {
            color: #e0aaff;
          }
        }
      }
    }
  }
}
