<header class="movie-header">
  <div class="logo-container">
    <img src="assets/images/logo_crousti.png" alt="Logo" class="logo">
    <a href="#home">
      <h1>CROUSTICINE 📽️</h1>
    </a>
  </div>
  <nav class="navigation">
    <ul>
      <li><a href="javascript:void(0)" (click)="scrollTo('home')">Accueil 🎬</a></li>
      <li><a href="javascript:void(0)" (click)="scrollTo('about')">À propos 🤔</a></li>
      <li><a href="javascript:void(0)" (click)="scrollTo('contact')">Contact 📞</a></li>
    </ul>
  </nav>
  
</header>
