<footer class="movie-footer" id="footer" #footerRef>
    <div class="footer-content">
      <section class="footer-section">
        <h2>À propos</h2>
        <p>Dédié aux cinéphiles, ce site propose une exploration approfondie de l'univers cinématographique avec des fonctionnalités de recherche avancées.</p>
      </section>
      <section class="footer-section">
        <h2>Contact</h2>
        <p>Pour toute question ou suggestion, n'hésitez pas à nous contacter à <a href="mailto:ariane.baron@univ-lyon1.fr">ariane.baron univ-lyon1.fr</a>.</p>
      </section>
    </div>
  </footer>
  