.movie-footer {
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  
    .footer-content {
      display: flex;
      justify-content: space-between;
    }
  
    .footer-section {
      h2, p, a {
        font-family: 'Montserrat', 'Arial', sans-serif;
      }
  
      h2 {
        font-size: 20px;
        font-weight: bold;
      }
  
      p, a {
        font-size: 16px;
      }
  
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: #e0aaff;
        }
      }
    }
  }
  