@mixin flex($direction: column, $justify: space-evenly, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

h1 {
  text-align: center;
}




.intro-container {
  color: #fff;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Montserrat', 'Arial', sans-serif; 
  @include flex();

  margin-bottom: 3vh;

  p {
    font-size: 1.36rem;
  }
}

.search-container {
  color: #fff;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Montserrat', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  label {
    font-size: large;
    display: block;
    margin-bottom: 1rem;

    input {
      height: 27px;
      width: 50%;
      margin: 0;
      text-align: center;
    }
  }

  button {
    display: block;
    outline: 0;
    border: none;
    cursor: pointer;
    background: radial-gradient(100% 100% at 100% 0%, #ff0000 0%, #dd1111 100%);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 14px;
    border-radius: 6px;
    color: #fff;
    height: 37px;
    font-size: 16px;
    margin-top: 10px;
    transition: box-shadow 0.15s ease, transform 0.15s ease;

    &:hover {
      box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: inset 0px 3px 7px #000000;
      transform: translateY(2px);
    }
  }
}



.movie-container {
  @include flex(row);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  
}

span{
  font-weight: bold;
  font-style: italic;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(25% - 30px);
  min-height: 450px;
  margin: 15px;
  color: #d5d4d4;
  font-family: 'Montserrat', 'Arial', sans-serif; 
  font-size: 14px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  background-color: rgb(12, 12, 12);

  &:hover {
    transform: scale(1.05);
  }
}

.movie img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.image-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: #aaa;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0,0,0, 0.8);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 3;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;

  img {
    width: 250px;
    height: 380px;
  }
}

.popup h2 {
  margin-top: 10;
  color: #333;
  font-family: 'Montserrat', Arial;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: red;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){

  .popup{
    width: 70%;
  }
}

.movie h2, .movie p {
  text-align: center;
  font-family: 'Montserrat', Arial;
  width: 100%;
}

.popup button {
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.favorite-message {
  color: green;
  font-size: 1rem;
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-left: 5px solid green;
  border-radius: 5px;
}

h2 {
  font-family: 'Montserrat', Arial;
}
