<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<h1>Liste des Films</h1>

<div class="intro-container">
  <p class="intro">🍿 Cliquez sur un film pour avoir plus d'informations à son sujet 🍿</p>
</div>

<div class="search-container">
  <label>Recherche 🕵🏻
    <input [(ngModel)]="researchParam" placeholder="Entrez votre recherche " class="custom-input">
  </label>
  <button (click)="makeSearch()">RECHERCHER </button>
</div>

<div class="movie-container">
  <div class="overlay" *ngIf="showPopup">
    <div class="popup">
      <h2>{{selectedMovie?.title}}</h2>
      <a class="close" (click)="showPopup = false; selectedMovie = undefined">&times;</a>
      <div class="content">
        <div class="image-container">
        <img *ngIf="selectedMovie?.poster; else defaultImage" [src]="selectedMovie?.poster" (error)="handleImageError($event)">
        </div>
        <ng-template #defaultImage>
          <div class="image-container">
          <img src="./assets/images/default.avif" alt="Image par défaut">
          </div>
        </ng-template>
        <p>{{selectedMovie?.year}}, réalisé par <span>{{selectedMovie?.directors}}</span></p>
        <p>Durée : {{selectedMovie?.runtime}} minutes</p>
        <p>{{selectedMovie?.plot}}</p>
        <button (click)="addMovieToFavorites()">Ajouter aux favoris</button>
        <p *ngIf="favoriteAddedMessage" class="favorite-message">{{favoriteAddedMessage}}</p>
      </div>
    </div>
  </div>

    <div *ngFor="let movie of movies" class="movie" (click)="selectedMovie = movie; showPopup = true;">
      <h2>{{movie.title}}</h2>
      <h2>Durée du film: {{movie.runtime}}min</h2>
      <img *ngIf="movie.poster; else defaultImage" [src]="movie.poster" alt="{{movie.title}}" (error)="handleImageError($event)">
      <ng-template #defaultImage>
        <img src="./assets/images/default.avif" alt="Image par défaut">
      </ng-template>
    </div>
</div>

